<h1 class="checkout__title">Checkout</h1>
      
<form action="/comprar/" method="post">
<div class="checkout__datos">
<div class="datos__1">
   <p class="titulo"for="checkout__name" class="titulo">Nombre</p>
    <input  class="datos__input" id="checkout__name" type="text" name="name" placeholder="ej: brayan stiven collazos"> <br>
   <p class="titulo"for="checkout__dir" class="titulo">Dirección de envío</p>
    <input  class="datos__input" id="checkout__dir" type="text" name="dir" placeholder="ej: Kra 11 #5-29"><br>
     <p class="titulo"for="checkout__trNum" class="titulo">Número de tarjeta</p>
    <input  class="datos__input" id="checkout__trNum" type="text" name="trnum" placeholder="ej: xxx-xxx-xxx-xxxx"><br>
</div>
<div class="datos__2">
      <p class="titulo" for="checkout__email" class="titulo">Email</p>
      <input  class="datos__input" id="checkout__email" type="text"  name="email" placeholder="ej: lavacalola@gmail.com"><br>
      <p class="titulo" for="checkout__medioDePago" class="titulo">Medio de pago</p>
      <select  class="checkout__medioDePago" name="trType">
            <option class="input__option"value="VISA">VISA</option>
            <option class="input__option"value="MASTERCARD">MASTERCARD</option>
      </select>
       <p class="titulo" for="checkout__securityCode" class="titulo">Código de seguridad</p>
      <input  class="datos__input" id="checkout__securityCode" type="text" name="securityCode" placeholder="ej: xxx"><br>

</div>
</div>
    <input class="checkout__comprar" type="submit" value="COMPRAR">
</form>

 <script src="/scripts/header.js"></script>


