    <section id="inicio" class="headerimg">
          <button class="mainheader__btn">
            <img src="/images/menuhamburguesa.png" alt="">
        </button>
        
        <div class="header_Center">
            <article class=headerCenter__left>
                <h2 class="left__text">-HAWKERS RANGER-</h2>
                <a href=""></a>
            </article>
            
            <div class="center">
                <img class="center__image" src="/images/GAFAS1.png" alt="">
                <img class="center__image center__image--hide" src="/images/GAFAS2.png" alt="">
                <img class="center__image center__image--hide" src="/images/GAFAS3.png" alt="">
                
            </div>
            <article class=headerCenter__right>
                <h2 class="right__text">-INICIO-</h2>
                <a href=""></a>
            </article>
        </div>
        <div class="headerBut">
            <article class=headerBut__left>
            </article>
            <a class="buton__verMas buton__verMas--inicio" href="#">VER MS</a>
            <article class="headerBut__media">
                <a href="#" class="headerBut__item"><img  class="item__img"src="/images/facebook.png" alt=""></a>
                <a href="#" class="headerBut__item"><img  class="item__img"src="/images/twiiter.png" alt=""></a>
                <a href="#" class="headerBut__item"><img  class="item__img"src="/images/instagram.png" alt=""></a>
            </article>
        </div>
</section>


<section class="colection">
            
            <article id="nuevaColeccion" class="colection__title">
                <h1>Nueva Colecci贸n</h1>
            </article>
            
            <article class="colection__action">
                <section class="colection__unit">
                    <img class="unit__glases" src="/images/coleccion__gafas1.png" alt="">
                    <img class="qualitie__imag" src="/images/coleccion__foto1.png" alt="">
                    
                </section>
                
                <section class="colection__unit">
                    <img class="qualitie__imag qualitie__imag--2" src="/images/coleccion__foto2.png" alt="">
                    <img class="unit__glases unit__glases--2" src="/images/coleccion__gafas2.png" alt=""> 
                </section>
            </article>
            
            
            
        </section>
        
        
        <section id="datos" class="interaction">
            <div class="interaction__title">
                <h1>Nuestras Gafas</h1>
            </div>
            
            <div class="interaction__background">
                
                <p class="interaction__caracteristic interaction__caracteristic--left">Gafas de sol fabricadas en TR90 con el sello </br>
                    de EMS , considerado el mejor Nylon para </br>
                    monturas del mundo que proporciona m谩s </br>
                    flexibilidad y resistencia.
                </p>
                <button class="interaction__glasstouch">
                    
                    <img class="interaction__glass" src="/images/nuestrasGafas__gafa.png" alt="">
                </button>   
                
                
                
                <p class="interaction__caracteristic interaction__caracteristic--right">Lentes categor铆a 3 y protecci贸n uv400 </br>
                    que ofrecen una protecci贸n </br>
                    antideslumbrante superior.
                </p>
                
                <p class="interaction__caracteristic interaction__caracteristic--center">Bisagra de doble acci贸n para un cierre </br>
                    de patillas seguro y durabilidad.
                </p>
                
            </div>
            
        </section>
        
        <section id="fotos"class="gallery">
            
            <div class="gallery__title">
                <h1>Fotos</h1>
            </div>
            
            <div>
                
                <div class="gallery__fotos">
                    <a class=gallery__card href="">
                        <img class="gallery__f" src="/images/fotos_1.png" alt="">
                    </a>
                    <a class="gallery__card gallery__card--in" href="">
                        
                        <img class="gallery__f "src="/images/fotos_2.png" alt="">
                    </a>
                    
                </div>
            </div>
            
        </section>

<script src="/scripts/main.js"></script>
