$backgroundcolor:#202020;
//Font
$textcolor:#ffffff;
$fontFamiliy:Montserrat;
$fontweight:350;
$font-style: normal;
$font-size: 12px;
$line-height: 17px;


//PhoneWidth
$phoneWidth:412px;

.header {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: center;
    background-color: $backgroundcolor;
    width: 100%;
    height: 75px;
    margin-left:0px;
    margin-top: 0px;
    
    .header__nav{
        @media screen and (min-width: $phoneWidth) {
        font-family: $fontFamiliy;
        font-style: $font-style;
        font-weight: $fontweight;
        font-size: $font-size;
        line-height: $line-height;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-content: flex-start;
        align-items: flex-start;
      
        color: #FFFFFF;
  
        opacity: 0.7;
        p{
            padding-left: 47px;
            padding-right: 47px;
        }
        }
    }
}




